@media (min-width:1201px) {
    
    section{
        width: 400px;
    }
    main{
        width: 400px;
        padding-bottom: -40px;
    }
    .main-container{
        padding-top: 200px;
        width: 800px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
    }
    p.product-name{
        padding-top: 35px;
    }
    p.french{
        padding-bottom: 35;
    }

    
}